<script>
import { GlLoadingIcon, GlAlert } from '@gitlab/ui';
import { s__ } from '~/locale';
import { filterIssues, filterMergeRequests, filterPushes } from '../utils';
import { MAX_REQUEST_COUNT } from '../constants';
import contributionsQuery from '../graphql/contributions.query.graphql';
import PushesChart from './pushes_chart.vue';
import MergeRequestsChart from './merge_requests_chart.vue';
import IssuesChart from './issues_chart.vue';
import GroupMembersTable from './group_members_table.vue';

export default {
  name: 'ContributionAnalyticsApp',
  components: {
    PushesChart,
    MergeRequestsChart,
    IssuesChart,
    GroupMembersTable,
    GlLoadingIcon,
    GlAlert,
  },
  props: {
    fullPath: {
      type: String,
      required: true,
    },
    startDate: {
      type: String,
      required: true,
    },
    endDate: {
      type: String,
      required: true,
    },
  },
  i18n: {
    loading: s__('ContributionAnalytics|Loading contribution stats for group members'),
    error: s__('ContributionAnalytics|Failed to load the contribution stats'),
  },
  data() {
    return {
      contributions: [],
      loadError: false,
      isLoading: false,
      requestCount: 0,
    };
  },
  computed: {
    pushes() {
      return filterPushes(this.contributions);
    },
    mergeRequests() {
      return filterMergeRequests(this.contributions);
    },
    issues() {
      return filterIssues(this.contributions);
    },
  },
  async created() {
    await this.fetchContributions();
  },
  methods: {
    handleError() {
      this.loadError = true;
    },
    async fetchContributions(endCursor = '') {
      this.isLoading = true;

      try {
        const { data } = await this.$apollo.query({
          query: contributionsQuery,
          variables: {
            fullPath: this.fullPath,
            startDate: this.startDate,
            endDate: this.endDate,
            nextPageCursor: endCursor,
          },
        });

        const { nodes = [], pageInfo } = data.group?.contributions || {};

        this.contributions = [...this.contributions, ...nodes];
        this.requestCount += 1;

        if (this.requestCount < MAX_REQUEST_COUNT && pageInfo?.hasNextPage) {
          await this.fetchContributions(pageInfo.endCursor);
        }
      } catch {
        this.handleError();
      } finally {
        this.isLoading = false;
      }
    },
  },
};
</script>
<template>
  <div>
    <gl-loading-icon v-if="isLoading" :label="$options.i18n.loading" size="lg" />

    <gl-alert v-else-if="loadError" variant="danger" :dismissible="false">
      {{ $options.i18n.error }}
    </gl-alert>

    <template v-else>
      <pushes-chart :pushes="pushes" />
      <merge-requests-chart :merge-requests="mergeRequests" />
      <issues-chart :issues="issues" />
      <group-members-table :contributions="contributions" />
    </template>
  </div>
</template>
